country,GEN;DE_CH,Deutsch (Schweiz)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;db   = Doppelte Buchhaltung
;dbe  = Doppelte Buchhaltung Euro
;dbf  = Doppelte Buchhaltung mit Fremdwährungen
;kb   = Kassenbuch
;kbe  = Kassenbuch Euro
;pr   = Prospekt


;Doppelte Buchhaltung ohne MWST

;Doppelte Buchhaltung mit MWST

;Doppelte Buchhaltung Euro ohne MWST

;Doppelte Buchhaltung Euro mit MWST

;Doppelte Buchhaltung mit Fremdwährungen und ohne MWST

;Doppelte Buchhaltung mit Fremdwährungen und mit MWST

;Prospekt
100,500,0,"Buchhaltung für Report 959 Obligationenrecht", buchhaltung_fuer_prospekt.ac2,DE_CH
100,500,0,"Report Art. 959 Obligationenrecht", report_co_959.ac2,DE_CH

;Archiv Wechselkurs

;Kassenbuch ohne MWST

;Kassenbuch mit MWST

;Kassenbuch Euro ohne MWST

;Kassenbuch Euro mit MWST

;Steuererklärung MWST
