country,GEN;FR_CH,Français (Suisse)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;cd   = comptabilité en partie double
;cde  = comptabilité en partie double Euro
;cdm  = comptabilité en partie double multi-devises
;lc   = Livre de caisse
;lce  = Livre de caisse Euro
;rc   = Résumé comptable

;Comptabilité en partie double sans TVA

;Comptabilité en partie double avec TVA

;Comptabilité en partie double EURO

;Comptabilité en partie double EURO avec TVA

;Comptabilité en partie double multi-devises sans TVA

;Comptabilité en partie double multi-devises avec TVA

;Résumés comptables

;Archive changes

;Livre de caisse sans TVA
130,100,0,"Livre de caisse pour association)", lc_association.ac2,FR_CH
130,100,0,"Livre de caisse pour usage privé)", lc_prive.ac2,FR_CH
130,100,0,"Livre de caisse pour étude professionnelle", lc_etude.ac2,FR_CH


;Livre de caisse avec TVA
130,110,0,"Livre de caisse pour magasin", lc_tva_magasin.ac2,FR_CH


;Livre de caisse Euro avec TVA

;Déclaration TVA
