country,GEN;IT_CH,Italiano (Svizzera)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;cd   = contabilità doppia
;cde  = contabilità doppia Euro
;cdm  = contabilità doppia multidivisa
;lc   = Libro cassa
;lce  = Libro cassa Euro
;pr   = Prospetto


;Contabilità doppia senza IVA

;Contabilità doppia con IVA

;Contabilità doppia EURO

;Contabilità doppia EURO con IVA

;Contabilità doppia con multidivise senza IVA

;Contabilità doppia con multidivise e IVA

;Prospetti Contabilità 
100,500,0,"Report art. 959 Codice delle obbligazioni", report_co_959.ac2,IT_CH
100,500,0,"Contabilità con collegamento al report co 959", contabilita_per_prospetto.ac2,IT_CH

;Storico cambi

;Libro cassa senza IVA

;Libro cassa con IVA

;Libro cassa EURO senza IVA

;Libro cassa EURO con IVA

;Dichiarazione IVA
