country,GEN;DE_CH,Deutsch (Schweiz)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;db   = Doppelte Buchhaltung
;dbe  = Doppelte Buchhaltung Euro
;dbf  = Doppelte Buchhaltung mit Fremdwährungen
;kb   = Kassenbuch
;kbe  = Kassenbuch Euro
;pr   = Prospekt


;Doppelte Buchhaltung ohne MWST
100,100,0,"Buchhaltung für Vereine (KMU Kontenplan, mit Untergruppen)", de_de_sme_nonprofit.ac2,DE_CH
100,100,0,"Buchhaltung für Vereine (KMU Kontenplan, kurz ohne Untergruppen)", de_de_smeshort_nonprofit.ac2,DE_CH
100,100,0,"Buchhaltung mit kurzem KMU Kontenplan (bis 500'000 CHF Umsatzerlös)", de_de_smeshort_max500.ac2,DE_CH
100,100,0,"Buchhaltung mit kurzem KMU Kontenplan ohne Untergruppen", de_de_smeshort_company.ac2,DE_CH
100,100,0,"Buchhaltung für Einzelunternehmen(KMU Kontenplan)", de_de_sme_soleenterprise.ac2,DE_CH
100,100,0,"Buchhaltung für Personengesellschaften (KMU Kontenplan)", de_de_sme_partnership.ac2,DE_CH
100,100,0,"Buchhaltung für juristische Personen (KMU Kontenplan)", de_de_sme_company.ac2,DE_CH
100,100,0,"Buchhaltung für juristische Personen mit Kunden/Lieferanten (KMU Kontenplan)", de_de_sme_company_customers.ac2,DE_CH
100,100,0,"Buchhaltung für private Aktivitäten/Haushalt", de_de_homebusiness.ac2,DE_CH

;Doppelte Buchhaltung mit MWST
100,110,0,"Buchhaltung für Vereine (KMU Kontenplan)", de_de_vat_sme_nonprofit.ac2,DE_CH
100,110,0,"Buchhaltung mit kurzem KMU Kontenplan (bis 500'000 CHF Umsatzerlös)", de_de_vat_smeshort_max500.ac2,DE_CH
100,110,0,"Buchhaltung mit kurzem KMU Kontenplan ohne Untergruppen ", de_de_vat_smeshort_company.ac2,DE_CH
100,110,0,"Buchhaltung für Einzelunternehmen(KMU Kontenplan)",de_de_vat_sme_soleenterprise.ac2,DE_CH
100,110,0,"Buchhaltung für Personengesellschaften (KMU Kontenplan)", de_de_vat_sme_partnership.ac2,DE_CH
100,110,0,"Buchhaltung für juristische Personen (KMU Kontenplan)", de_de_vat_sme_company.ac2,DE_CH
100,110,0,"Buchhaltung für juristische Personen mit Kunden/Lieferanten (KMU Kontenplan)", de_de_vat_sme_company_customers.ac2,DE_CH

;Doppelte Buchhaltung Euro ohne MWST

;Doppelte Buchhaltung Euro mit MWST

;Doppelte Buchhaltung mit Fremdwährungen und ohne MWST

;Doppelte Buchhaltung mit Fremdwährungen und mit MWST

;Prospekt

;Archiv Wechselkurs

;Kassenbuch ohne MWST

;Kassenbuch mit MWST

;Kassenbuch Euro ohne MWST

;Kassenbuch Euro mit MWST

;Steuererklärung MWST
